body {
  font-family: sans-serif;
  text-align: center;
}

#palette {
  display: flex;
  height: 300px;
}

.color-box {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}